In [482]:
import pandas as pd
import pickle
from scipy.stats import poisson
import math
import random

### Leer Data

In [483]:
with open("data/dict_grupos.pkl","rb") as archivo:
    dict_grupos2022 = pickle.load(archivo)
archivo.close()

df_FIFA_Historical = pd.read_csv("data/FIFAWC.csv")
df_Qatar = pd.read_csv("data/clean_Qatar.csv")

In [484]:
df_Qatar

    Unnamed: 0                Local            Visitante    Marcador   Año
0            0                Catar              Ecuador   Partido 1  2022
1            1              Senegal         Países Bajos   Partido 2  2022
2            2                Catar              Senegal  Partido 18  2022
3            3         Países Bajos              Ecuador  Partido 19  2022
4            4              Ecuador              Senegal  Partido 35  2022
..         ...                  ...                  ...         ...   ...
59          59   Ganador partido 51   Ganador partido 52  Partido 59  2022
60          60   Ganador partido 57   Ganador partido 58  Partido 61  2022
61          61   Ganador partido 59   Ganador partido 60  Partido 62  2022
62          62  Perdedor partido 61  Perdedor partido 62  Partido 63  2022
63          63   Ganador partido 61   Ganador partido 62  Partido 64  2022

[64 rows x 5 columns]

In [485]:
df_Qatar["Local"][0]

'Catar'

In [486]:
print(dict_grupos2022["Grupo G"])

   Pos Selección  Pts  PJ  PG  PE  PP  GF  GC  Dif
0    1    Brasil    0   0   0   0   0   0   0    0
1    2    Serbia    0   0   0   0   0   0   0    0
2    3     Suiza    0   0   0   0   0   0   0    0
3    4   Camerún    0   0   0   0   0   0   0    0

In [487]:
dict_grupos2022["Grupo A"].dtypes

Pos           int64
Selección    object
Pts           int32
PJ            int32
PG            int32
PE            int32
PP            int32
GF            int32
GC            int32
Dif           int32
dtype: object

In [488]:
df_FIFA_Historical

         Local   Visitante   Año  GolesLocal  GolesVisita  GolesTotales
0      Francia      México  1930           4            1             5
1    Argentina     Francia  1930           1            0             1
2        Chile      México  1930           3            0             3
3        Chile     Francia  1930           1            0             1
4    Argentina      México  1930           6            3             9
..         ...         ...   ...         ...          ...           ...
895      Rusia     Croacia  2018           2            2             4
896    Francia     Bélgica  2018           1            0             1
897    Croacia  Inglaterra  2018           2            1             3
898    Bélgica  Inglaterra  2018           2            0             2
899    Francia     Croacia  2018           4            2             6

[900 rows x 6 columns]

In [489]:
## Extraer data de local y visitante por separado
df_Local = df_FIFA_Historical[["Local","GolesLocal","GolesVisita"]].copy()
df_visita = df_FIFA_Historical[["Visitante","GolesLocal","GolesVisita"]].copy()
df_Local

         Local  GolesLocal  GolesVisita
0      Francia           4            1
1    Argentina           1            0
2        Chile           3            0
3        Chile           1            0
4    Argentina           6            3
..         ...         ...          ...
895      Rusia           2            2
896    Francia           1            0
897    Croacia           2            1
898    Bélgica           2            0
899    Francia           4            2

[900 rows x 3 columns]

In [490]:
##3 Renombrar columnas
df_Local.rename(columns={"Local":"Equipo", "GolesLocal":"GolesAnotados","GolesVisita":"GolesRecibidos"},inplace=True)
df_visita.rename(columns={"Visitante":"Equipo", "GolesLocal":"GolesRecibidos","GolesVisita":"GolesAnotados"},inplace=True)
df_visita

         Equipo  GolesRecibidos  GolesAnotados
0        México               4              1
1       Francia               1              0
2        México               3              0
3       Francia               1              0
4        México               6              3
..          ...             ...            ...
895     Croacia               2              2
896     Bélgica               1              0
897  Inglaterra               2              1
898  Inglaterra               2              0
899     Croacia               4              2

[900 rows x 3 columns]

In [491]:
## Concatenamos en un dataframe
equipos = pd.concat([df_Local,df_visita],ignore_index=True)

### Agrupamos por equipo y obtenemos el promedio de cada columna
fuerza_equipos = equipos.groupby(["Equipo"]).mean()
fuerza_equipos

                      GolesAnotados  GolesRecibidos
Equipo
Alemania                   2.021277        1.021277
Alemania Democrática       0.833333        0.833333
Alemania Federal           2.112903        1.241935
Angola                     0.333333        0.666667
Arabia Saudita             0.687500        2.437500
...                             ...             ...
Ucrania                    1.000000        1.400000
Unión Soviética            1.709677        1.096774
Uruguay                    1.553571        1.321429
Yugoslavia                 1.666667        1.272727
Zaire                      0.000000        4.666667

[85 rows x 2 columns]

In [492]:
fuerza_equipos.loc["Irán",]
fuerza_equipos.loc["Estados Unidos",]

GolesAnotados     1.121212
GolesRecibidos    1.878788
Name: Estados Unidos, dtype: float64

In [493]:
fuerza_equipos.index

Index(['Alemania', 'Alemania Democrática', 'Alemania Federal', 'Angola',
       'Arabia Saudita', 'Argelia', 'Argentina', 'Australia', 'Austria',
       'Bolivia', 'Bosnia y Herzegovina', 'Brasil', 'Bulgaria', 'Bélgica',
       'Camerún', 'Canadá', 'Checoslovaquia', 'Chile', 'China', 'Colombia',
       'Corea del Norte', 'Corea del Sur', 'Costa Rica', 'Costa de Marfil',
       'Croacia', 'Cuba', 'Dinamarca', 'Ecuador', 'Egipto', 'El Salvador',
       'Emiratos Árabes Unidos', 'Escocia', 'Eslovaquia', 'Eslovenia',
       'España', 'Estados Unidos', 'Francia', 'Gales', 'Ghana', 'Grecia',
       'Haití', 'Honduras', 'Hungría', 'Indias Orientales Neerlandesas',
       'Inglaterra', 'Irak', 'Irlanda', 'Irlanda del Norte', 'Irán',
       'Islandia', 'Israel', 'Italia', 'Jamaica', 'Japón', 'Kuwait',
       'Marruecos', 'México', 'Nigeria', 'Noruega', 'Nueva Zelanda', 'Panamá',
       'Paraguay', 'Países Bajos', 'Perú', 'Polonia', 'Portugal',
       'RF Yugoslavia', 'República Checa', 'Rumania', 'Rusia', 'Senegal',
       'Serbia', 'Serbia y Montenegro', 'Sudáfrica', 'Suecia', 'Suiza', 'Togo',
       'Trinidad y Tobago', 'Turquía', 'Túnez', 'Ucrania', 'Unión Soviética',
       'Uruguay', 'Yugoslavia', 'Zaire'],
      dtype='object', name='Equipo')

In [494]:
def Poisson(x,l):
    return (l**x * math.e**(-l))/math.factorial(x)

def WinnerFirstWC():
    x = random.randint(0,100)
    if x <= 80:
        return (0,3)
    elif x > 80 and x < 95:
        return(1,1)
    else:
        return (3,0)

In [495]:
def Predecir_Puntos(local, visita):
    if local in fuerza_equipos.index and visita in fuerza_equipos.index:
        lambda_local = fuerza_equipos.loc[local,"GolesAnotados"]*fuerza_equipos.loc[visita,"GolesRecibidos"]
        lambda_visita = fuerza_equipos.loc[visita,"GolesAnotados"]*fuerza_equipos.loc[local,"GolesRecibidos"]

        local = 0
        visita = 0
        empate = 0
        for x in range(9):
            for y in range(9):
                p_local = Poisson(x=x,l=lambda_local)
                p_visita = Poisson(x=y, l = lambda_visita)
                prob = p_local*p_visita

                if x == y:
                    empate += prob
                elif x > y:
                    local += prob
                else:
                    visita += prob

        puntos_local = 3*local + empate
        puntos_visita = 3*visita + empate
        #return (round(puntos_local,0), round(puntos_visita,0))
        return (puntos_local,puntos_visita)

    else:
        if local not in fuerza_equipos.index:
            return(WinnerFirstWC())
        else:
            tupla = WinnerFirstWC()
            return tupla[::-1]

In [496]:
grupos = df_Qatar[:48].copy()
octavos = df_Qatar[48:56].copy()
cuartos = df_Qatar[56:60].copy()
semis = df_Qatar[60:62].copy()
tercer = df_Qatar[62:63].copy()
final = df_Qatar[63:64].copy()

In [497]:
#Obtener partidos por grupo
for grupo in dict_grupos2022.keys():
    equipos_en_grupo = dict_grupos2022[grupo]["Selección"].values
    partidos_grupo = grupos[grupos["Local"].isin(equipos_en_grupo)]

    tabla = dict_grupos2022[grupo]

    #Actualizar la tabla
    for partido,row in partidos_grupo.iterrows():
        local = row["Local"]
        visitante = row["Visitante"]
        puntosLocal, puntosVisitante = Predecir_Puntos(local=local,visita=visitante)
        print(local,puntosLocal,visitante,puntosVisitante)
        tabla.loc[tabla["Selección"] == local, "Pts"] += puntosLocal
        tabla.loc[tabla["Selección"] == visitante, "Pts"] += puntosLocal
        tabla.sort_values("Pts",axis=0,ascending = False,inplace=True)
    
    tabla["Pos"] = [i+1 for i in range(4)]

    print(tabla)

Catar 1 Ecuador 1
Senegal 0.8966631961462876 Países Bajos 1.8963328262857722
Catar 0 Senegal 3
Países Bajos 1.9964498627056055 Ecuador 0.782094698139651
Ecuador 1.194698333312759 Senegal 1.5529159369074768
Países Bajos 3 Catar 0
   Pos     Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
3    1  Países Bajos  5.893113   0   0   0   0   0   0    0
1    2       Ecuador  4.191148   0   0   0   0   0   0    0
0    3         Catar  4.000000   0   0   0   0   0   0    0
2    4       Senegal  2.091362   0   0   0   0   0   0    0
Inglaterra 2.3872443254352747 Irán 0.4333053734215785
Estados Unidos 0.9356581220875901 Gales 1.8032887219105167
Gales 1.9925454285865458 Irán 0.7122928612086139
Inglaterra 2.2325667086526493 Estados Unidos 0.5922351666568737
Gales 1.0828226633395734 Inglaterra 1.5938821978589228
Irán 0.9466817474589969 Estados Unidos 1.821037199710538
   Pos       Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
0    1      Inglaterra  5.702634   0   0   0   0   0   0    0
1    2            Irán  5.326472   0   0   0   0   0   0    0
2    3  Estados Unidos  4.114907   0   0   0   0   0   0    0
3    4           Gales  4.011026   0   0   0   0   0   0    0
Argentina 2.716515006853602 Arabia Saudita 0.14829129320273277
México 0.8603802276727777 Polonia 1.9427463143760164
Polonia 2.565801990488748 Arabia Saudita 0.306979658247235
Argentina 2.304253735413984 México 0.5378225227669747
Polonia 0.998747376977111 Argentina 1.7974630349438165
Arabia Saudita 0.6398258599654526 México 2.1846504608503308
   Pos       Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
0    1       Argentina  6.019516   0   0   0   0   0   0    0
1    2  Arabia Saudita  5.922143   0   0   0   0   0   0    0
3    3         Polonia  4.424930   0   0   0   0   0   0    0
2    4          México  3.804460   0   0   0   0   0   0    0
Dinamarca 2.1894262283202806 Túnez 0.6330586602691604
Francia 2.594973843211626 Australia 0.27804046066271615
Túnez 1.593252625240521 Australia 1.1684363892533358
Francia 1.7461052712853766 Dinamarca 1.0554093302091299
Australia 0.4642803314880174 Dinamarca 2.3856239648385276
Túnez 0.4099262367200368 Francia 2.448159729085048
   Pos  Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
0    1    Francia  4.751005   0   0   0   0   0   0    0
1    2  Australia  4.652507   0   0   0   0   0   0    0
2    3  Dinamarca  4.399812   0   0   0   0   0   0    0
3    4      Túnez  4.192605   0   0   0   0   0   0    0
Alemania 2.3921266882776515 Japón 0.4564890629235383
España 2.115865309673819 Costa Rica 0.6998288107021187
Japón 1.3928559809504009 Costa Rica 1.3611603901658147
España 0.9952151092712396 Alemania 1.8044193865496654
Japón 0.7417005973084383 España 2.057778299472886
Costa Rica 0.4105793044319952 Alemania 2.4478297133888196
   Pos   Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
3    1       Japón  4.526683   0   0   0   0   0   0    0
1    2  Costa Rica  3.919301   0   0   0   0   0   0    0
0    3      España  3.852781   0   0   0   0   0   0    0
2    4    Alemania  3.797921   0   0   0   0   0   0    0
Marruecos 0.7118961283329435 Croacia 2.0842189046089037
Bélgica 2.809059449275849 Canadá 0.09431537009970303
Bélgica 1.787166680229354 Marruecos 0.9920626484173415
Croacia 2.837899585936609 Canadá 0.07916413813302248
Croacia 1.7918293572662372 Bélgica 1.0064339108224347
Canadá 0.23262365791729264 Marruecos 2.5346856809192535
   Pos  Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
0    1    Bélgica  6.388055   0   0   0   0   0   0    0
1    2     Canadá  5.879583   0   0   0   0   0   0    0
3    3    Croacia  5.341625   0   0   0   0   0   0    0
2    4  Marruecos  2.731686   0   0   0   0   0   0    0
Suiza 2.0643956973131075 Camerún 0.7516617534115356
Brasil 2.463463202739717 Serbia 0.3832828911626779
Camerún 1.103073335348505 Serbia 1.607762933087125
Brasil 2.467883563085105 Suiza 0.38498294900422675
Serbia 1.0858419867897002 Suiza 1.664058521935204
Camerún 0.1607024579217931 Brasil 2.7163492785520758
   Pos Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
2    1     Suiza  5.618121   0   0   0   0   0   0    0
0    2    Brasil  5.092049   0   0   0   0   0   0    0
1    3    Serbia  4.652379   0   0   0   0   0   0    0
3    4   Camerún  3.328171   0   0   0   0   0   0    0
Uruguay 2.3429781396143117 Corea del Sur 0.504325011956722
Portugal 1.9473985721395777 Ghana 0.848405136433418
Corea del Sur 0.8674169550463711 Ghana 1.9307190557196314
Portugal 1.59621542661333 Uruguay 1.1970630221151006
Ghana 1.0060131226756084 Uruguay 1.781067560119002
Corea del Sur 0.3944990988377144 Portugal 2.4642996106855994
   Pos      Selección       Pts  PJ  PG  PE  PP  GF  GC  Dif
2    1        Uruguay  4.945207   0   0   0   0   0   0    0
0    2       Portugal  3.938113   0   0   0   0   0   0    0
1    3          Ghana  3.820829   0   0   0   0   0   0    0
3    4  Corea del Sur  3.604894   0   0   0   0   0   0    0

In [498]:
print(dict_grupos2022["Grupo A"].loc[dict_grupos2022["Grupo A"]["Pos"] == 1, "Selección"])

3    Países Bajos
Name: Selección, dtype: object

In [499]:
octavos

    Unnamed: 0        Local    Visitante    Marcador   Año
48          48  1.° Grupo A  2.° Grupo B  Partido 49  2022
49          49  1.° Grupo C  2.° Grupo D  Partido 50  2022
50          50  1.° Grupo D  2.° Grupo C  Partido 52  2022
51          51  1.° Grupo B  2.° Grupo A  Partido 51  2022
52          52  1.° Grupo E  2.° Grupo F  Partido 53  2022
53          53  1.° Grupo G  2.° Grupo H  Partido 54  2022
54          54  1.° Grupo F  2.° Grupo E  Partido 55  2022
55          55  1.° Grupo H  2.° Grupo G  Partido 56  2022

In [500]:
### Obtener partidos de octavos

locales = octavos["Local"].str.split(".° ")
for local,equipo in zip(octavos["Local"],locales):
    equipo_local = str(dict_grupos2022[equipo[1]].loc[dict_grupos2022[equipo[1]]["Pos"] == int(equipo[0]), "Selección"].values[0])
    octavos.replace(local,equipo_local,inplace=True)

locales = octavos["Visitante"].str.split(".° ")
for local,equipo in zip(octavos["Visitante"],locales):
    equipo_local = str(dict_grupos2022[equipo[1]].loc[dict_grupos2022[equipo[1]]["Pos"] == int(equipo[0]), "Selección"].values[0])
    octavos.replace(local,equipo_local,inplace=True)

octavos

    Unnamed: 0         Local       Visitante    Marcador   Año
48          48  Países Bajos            Irán  Partido 49  2022
49          49     Argentina       Australia  Partido 50  2022
50          50       Francia  Arabia Saudita  Partido 52  2022
51          51    Inglaterra         Ecuador  Partido 51  2022
52          52         Japón          Canadá  Partido 53  2022
53          53         Suiza        Portugal  Partido 54  2022
54          54       Bélgica      Costa Rica  Partido 55  2022
55          55       Uruguay          Brasil  Partido 56  2022